@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
.App {
    font-family: 'Inter', sans-serif;
    display: flex;
}

.App:nth-child(1) {
    margin-top: 14vh;
}